@font-face {
    font-family: 'kumbh-rgular';
    src: url('./fonts/KumbhSans-Regular.ttf');
}
@font-face {
    font-family: 'kumbh-medium';
    src: url('./fonts/KumbhSans-Medium.ttf');
}
@font-face {
    font-family: 'kumbh-semiBold';
    src: url('./fonts/KumbhSans-SemiBold.ttf');
}
@font-face {
    font-family: 'kumbh-bold';
    src: url('./fonts/KumbhSans-Bold.ttf');
}